<div class="container">
    
    <h2>Our latest collections</h2>

    <div fxLayout = "row wrap" fxLayoutGap = "50px grid">
        <div *ngFor="let product of products" (click)="addToCart(product)">
            <mat-card class="product-card" appearance="outlined">
                <img mat-card-image src="assets/images/{{product.image_url}}">
                <mat-card-content>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <!-- the angular pipe here is to transform the data into a certain format -->
                    <mat-card-subtitle>{{product.price | currency: 'CAD'}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>